@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.imagem-logo:hover {
    transform: scale(1.1);
    transition: 1s all;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.titulo-centralizado {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#banner {
    width: 100%; /* width of container */
    height: 550px; /* height of container */
    object-fit: cover;
}

.principal {
    background-color: #CCCCCC;
    padding: 30px 30px 15px;
}

.principal p {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
}

#missao strong {
    color: red;
    font-weight: bold;
}

.lista-itens {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    margin-top: 85px;
    margin-left: 20px;
    list-style: disc;
}

.itens {
    font-style: italic;
    margin-bottom: 10px;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

.imagem-beneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}